In [1]:
import warnings
warnings.filterwarnings("ignore")

# Objective : Loading Data into DataFrames

<hr>

1. Sources from which dataframes can be created
2. Loading from CSV
3. Loading from JSON - Structured & Unstructured
4. Loading from Excel

<hr>

### 1. Sources from which dataframes can be created
* Reading data from different sources, here is the list.
* Also, includes writing data to different sources.

In [29]:
import pandas as pd

### 2. Reading CSV

In [30]:
rental_data = pd.read_csv('./Data/house_rental_data.csv')

In [31]:
rental_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 645 entries, 0 to 644
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   645 non-null    int64
 1   Sqft         645 non-null    float64
 2   Floor        645 non-null    int64
 3   TotalFloor   645 non-null    int64
 4   Bedroom      645 non-null    int64
 5   Living.Room  645 non-null    int64
 6   Bathroom     645 non-null    int64
 7   Price        645 non-null    int64
dtypes: float64(1), int64(7)
memory usage: 40.4 KB

In [34]:
rental_data.shape

(645, 8)

In [36]:
rental_data.head()

,Unnamed: 0,Sqft,Floor,TotalFloor,Bedroom,Living.Room,Bathroom,Price
0,1,1177.698,2,7,2,2,2,62000
1,2,2134.800,5,7,4,2,2,78000
2,3,1138.560,5,7,2,2,1,58000
3,4,1458.780,2,7,3,2,2,45000
4,5,967.776,11,14,3,2,2,45000

In [6]:
rental_data = pd.read_csv('./Data/house_rental_data.csv', index_col = 'Unnamed: 0')

In [7]:
rental_data.head()

       Sqft  Floor  TotalFloor  Bedroom  Living.Room  Bathroom  Price
1  1177.698      2           7        2            2         2  62000
2  2134.800      5           7        4            2         2  78000
3  1138.560      5           7        2            2         1  58000
4  1458.780      2           7        3            2         2  45000
5   967.776     11          14        3            2         2  45000

In [8]:
rental_data = pd.read_csv('./Data/house_rental_data.csv', usecols=lambda c: c.startswith('B'))

In [9]:
rental_data.head()

   Bedroom  Bathroom
0        2         2
1        4         2
2        2         1
3        3         2
4        3         2

In [10]:
rental_data = pd.read_csv('./Data/house_rental_data.csv', nrows=10)

In [11]:
rental_data.shape

(10, 8)

In [12]:
rental_data.head()

,Unnamed: 0,Sqft,Floor,TotalFloor,Bedroom,Living.Room,Bathroom,Price
0,1,1177.698,2,7,2,2,2,62000
1,2,2134.800,5,7,4,2,2,78000
2,3,1138.560,5,7,2,2,1,58000
3,4,1458.780,2,7,3,2,2,45000
4,5,967.776,11,14,3,2,2,45000

In [13]:
titanic_data = pd.read_csv('./Data/titanic-train.csv.txt', index_col = 'PassengerId', na_values={'Ticket':'PC 17599'})

In [14]:
titanic_data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,NaN,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [15]:
pd.read_csv('./Data/sales-data.csv').head()

  Month  Sales
0  1-01  266.0
1  1-02  145.9
2  1-03  183.1
3  1-04  119.3
4  1-05  180.3

In [16]:
from datetime import datetime

def parser(x):
    return datetime.strptime('200'+x, '%Y-%m')
 
data = pd.read_csv('./Data/sales-data.csv', header=0, parse_dates=[0], index_col=0, date_parser=parser)

In [17]:
data.head()

            Sales
Month
2001-01-01  266.0
2001-02-01  145.9
2001-03-01  183.1
2001-04-01  119.3
2001-05-01  180.3

### 3. Loading from JSON

In [18]:
pd.read_json('https://raw.githubusercontent.com/corysimmons/colors.json/master/colors.json', orient='records').T.head()

                0    1    2  3
aliceblue     240  248  255  1
antiquewhite  250  235  215  1
aqua            0  255  255  1
aquamarine    127  255  212  1
azure         240  255  255  1

In [19]:
pd.set_option('display.max_colwidth', -1)
pd.read_json('./Data/raw_nyc_phil.json').head(1)

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     programs
0  {'season': '1842-43', 'orchestra': 'New York Philharmonic', 'concerts': [{'Date': '1842-12-07T05:00:00Z', 'eventType': 'Subscription Season', 'Venue': 'Apollo Rooms', 'Location': 'Manhattan, NY', 'Time': '8:00PM'}], 'programID': '3853', 'works': [{'workTitle': 'SYMPHONY NO. 5 IN C MINOR, OP.67', 'conductorName': 'Hill, Ureli Corelli', 'ID': '52446*', 'soloists': [], 'composerName': 'Beethoven,  Ludwig  van'}, {'workTitle': 'OBERON', 'composerName': 'Weber,  Carl  Maria Von', 'conductorName': 'Timm, Henry C.', 'ID': '8834*4', 'soloists': [{'soloistName': 'Otto, Antoinette', 'soloistRoles': 'S', 'soloistInstrument': 'Soprano'}], 'movement': '"Ozean, du Ungeheuer" (Ocean, thou mighty monster), Reiza (Scene and Aria), Act II'}, {'workTitle': 'QUINTET, PIANO, D MINOR, OP. 74', 'ID': '3642*', 'soloists': [{'soloistName': 'Scharfenberg, William', 'soloistRoles': 'A', 'soloistInstrument': 'Piano'}, {'soloistName': 'Hill, Ureli Corelli', 'soloistRoles': 'A', 'soloistInstrument': 'Violin'}, {'soloistName': 'Derwort, G. H.', 'soloistRoles': 'A', 'soloistInstrument': 'Viola'}, {'soloistName': 'Boucher, Alfred', 'soloistRoles': 'A', 'soloistInstrument': 'Cello'}, {'soloistName': 'Rosier, F. W.', 'soloistRoles': 'A', 'soloistInstrument': 'Contrabass'}], 'composerName': 'Hummel,  Johann'}, {'interval': 'Intermission', 'ID': '0*', 'soloists': []}, {'workTitle': 'OBERON', 'composerName': 'Weber,  Carl  Maria Von', 'conductorName': 'Etienne, Denis G.', 'ID': '8834*3', 'soloists': [], 'movement': 'Overture'}, {'workTitle': 'ARMIDA', 'composerName': 'Rossini,  Gioachino', 'conductorName': 'Timm, Henry C.', 'ID': '8835*1', 'soloists': [{'soloistName': 'Otto, Antoinette', 'soloistRoles': 'S', 'soloistInstrument': 'Soprano'}, {'soloistName': 'Horn, Charles Edward', 'soloistRoles': 'S', 'soloistInstrument': 'Tenor'}], 'movement': 'Duet'}, {'workTitle': 'FIDELIO, OP. 72', 'composerName': 'Beethoven,  Ludwig  van', 'conductorName': 'Timm, Henry C.', 'ID': '8837*6', 'soloists': [{'soloistName': 'Horn, Charles Edward', 'soloistRoles': 'S', 'soloistInstrument': 'Tenor'}], 'movement': '"In Des Lebens Fruhlingstagen...O spur ich nicht linde," Florestan (aria)'}, {'workTitle': 'ABDUCTION FROM THE SERAGLIO,THE, K.384', 'composerName': 'Mozart,  Wolfgang  Amadeus', 'conductorName': 'Timm, Henry C.', 'ID': '8336*4', 'soloists': [{'soloistName': 'Otto, Antoinette', 'soloistRoles': 'S', 'soloistInstrument': 'Soprano'}], 'movement': '"Ach Ich liebte," Konstanze (aria)'}, {'workTitle': 'OVERTURE NO. 1, D MINOR, OP. 38', 'conductorName': 'Timm, Henry C.', 'ID': '5543*', 'soloists': [], 'composerName': 'Kalliwoda,  Johann  W.'}], 'id': '38e072a7-8fc9-4f9a-8eac-3957905c0002'}

In [20]:
import json
with open('./Data/raw_nyc_phil.json') as f:
    d = json.load(f)

In [21]:
nycphil = pd.io.json.json_normalize(d['programs'])
nycphil.head(3)

    season                                 orchestra  \
0  1842-43  New York Philharmonic
1  1842-43  New York Philharmonic
2  1842-43  Musicians from the New York Philharmonic

                                                                                                                                         concerts  \
0  [{'Date': '1842-12-07T05:00:00Z', 'eventType': 'Subscription Season', 'Venue': 'Apollo Rooms', 'Location': 'Manhattan, NY', 'Time': '8:00PM'}]
1  [{'Date': '1843-02-18T05:00:00Z', 'eventType': 'Subscription Season', 'Venue': 'Apollo Rooms', 'Location': 'Manhattan, NY', 'Time': '8:00PM'}]
2  [{'Date': '1843-04-07T05:00:00Z', 'eventType': 'Special', 'Venue': 'Apollo Rooms', 'Location': 'Manhattan, NY', 'Time': '8:00PM'}]

  programID  \
0  3853
1  5178
2  10785

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        works  \
0  [{'workTitle': 'SYMPHONY NO. 5 IN C MINOR, OP.67', 'conductorName': 'Hill, Ureli Corelli', 'ID': '52446*', 'soloists': [], 'composerName': 'Beethoven,  Ludwig  van'}, {'workTitle': 'OBERON', 'composerName': 'Weber,  Carl  Maria Von', 'conductorName': 'Timm, Henry C.', 'ID': '8834*4', 'soloists': [{'soloistName': 'Otto, Antoinette', 'soloistRoles': 'S', 'soloistInstrument': 'Soprano'}], 'movement': '"Ozean, du Ungeheuer" (Ocean, thou mighty monster), Reiza (Scene and Aria), Act II'}, {'workTitle': 'QUINTET, PIANO, D MINOR, OP. 74', 'ID': '3642*', 'soloists': [{'soloistName': 'Scharfenberg, William', 'soloistRoles': 'A', 'soloistInstrument': 'Piano'}, {'soloistName': 'Hill, Ureli Corelli', 'soloistRoles': 'A', 'soloistInstrument': 'Violin'}, {'soloistName': 'Derwort, G. H.', 'soloistRoles': 'A', 'soloistInstrument': 'Viola'}, {'soloistName': 'Boucher, Alfred', 'soloistRoles': 'A', 'soloistInstrument': 'Cello'}, {'soloistName': 'Rosier, F. W.', 'soloistRoles': 'A', 'soloistInstrument': 'Contrabass'}], 'composerName': 'Hummel,  Johann'}, {'interval': 'Intermission', 'ID': '0*', 'soloists': []}, {'workTitle': 'OBERON', 'composerName': 'Weber,  Carl  Maria Von', 'conductorName': 'Etienne, Denis G.', 'ID': '8834*3', 'soloists': [], 'movement': 'Overture'}, {'workTitle': 'ARMIDA', 'composerName': 'Rossini,  Gioachino', 'conductorName': 'Timm, Henry C.', 'ID': '8835*1', 'soloists': [{'soloistName': 'Otto, Antoinette', 'soloistRoles': 'S', 'soloistInstrument': 'Soprano'}, {'soloistName': 'Horn, Charles Edward', 'soloistRoles': 'S', 'soloistInstrument': 'Tenor'}], 'movement': 'Duet'}, {'workTitle': 'FIDELIO, OP. 72', 'composerName': 'Beethoven,  Ludwig  van', 'conductorName': 'Timm, Henry C.', 'ID': '8837*6', 'soloists': [{'soloistName': 'Horn, Charles Edward', 'soloistRoles': 'S', 'soloistInstrument': 'Tenor'}], 'movement': '"In Des Lebens Fruhlingstagen...O spur ich nicht linde," Florestan (aria)'}, {'workTitle': 'ABDUCTION FROM THE SERAGLIO,THE, K.384', 'composerName': 'Mozart,  Wolfgang  Amadeus', 'conductorName': 'Timm, Henry C.', 'ID': '8336*4', 'soloists': [{'soloistName': 'Otto, Antoinette', 'soloistRoles': 'S', 'soloistInstrument': 'Soprano'}], 'movement': '"Ach Ich liebte," Konstanze (aria)'}, {'workTitle': 'OVERTURE NO. 1, D MINOR, OP. 38', 'conductorName': 'Timm, Henry C.', 'ID': '5543*', 'soloists': [], 'composerName': 'Kalliwoda,  Johann  W.'}]
1  [{'workTitle': 'SYMPHONY NO. 3 IN E FLAT MAJOR, OP. 55 (EROICA)', 'conductorName': 'Hill, Ureli Corelli', 'ID': '52437*', 'soloists': [], 'composerName': 'Beethoven,  Ludwig  van'}, {'workTitle': 'I PURITANI', 'composerName': 'Bellini,  Vincenzo', 'conductorName': 'Hill, Ureli Corelli', 'ID': '8838*2', 'soloists': [{'soloistName': 'Otto, Antoinette', 'soloistRoles': 'S', 'soloistInstrument': 'Soprano'}], 'movement': 'Elvira (aria): "Qui la voce...Vien, diletto"'}, {'workTitle': 'CELEBRATED ELEGIE', 'conductorName': 'Hill, Ureli Corelli', 'ID': '3659*', 'soloists': [{'soloistName': 'Boucher, Alfred', 'soloistRoles': 'S', 'soloistInstrument': 'Cello'}], 'composerName': 'Romberg,  Bernhard'}, {'interval': 'Intermission', 'ID': '0*', 'soloists': []}, {'workTitle': 'WILLIAM TELL', 'composerName': 'Rossini,  Gioachino', 'conductorName': 'Alpers, William', 'ID': '8839*2', 'soloists': [], 'movement': 'Overture'}, {'workTitle': 'STABAT MATER', 'composerName': 'Rossini,  Gioachino', 'conductorName': 'Alpers, William', 'ID': '53076*2', 'soloists': [{'soloistName': 'Otto, Antoinette', 'soloistRoles': 'S', 'soloistInstrument': 'Soprano'}], 'movement': 'Inflammatus et Accensus (Aria with Chorus)'}, {'workTitle': 'CONCERTO, PIANO, A-FLAT MAJOR, OP. 113', 'composerName': 'Hummel,  Johann', 'conductorName': 'Alpers, William', 'ID': '51568*2', 'soloists': [{'soloistName': 'Timm, Henry C.', 'soloistRoles': 'S', 'soloistInstrument': 'Piano'}], 'movement': 'Romanza: Larghetto con moto'}, {'workTitle': 'CONCERTO, PIANO, A-FLAT MAJOR, OP. 113', 'composerName': 'Hummel,  Johann', 'conductorName': 'Alpers, William', 'ID': '51568*3', 'soloists': [{'soloistName': 'Timm, Henry C.', 'soloistRoles': 'S', 'soloistInstrument': 'Piano'}], 'movement': 'Rondo alla spagniola: Allegro moderato'}, {'workTitle': 'FREISCHUTZ, DER', 'composerName': 'Weber,  Carl  Maria Von', 'conductorName': 'Alpers, William', 'ID': '6709*16', 'soloists': [], 'movement': 'Overture'}]
2  [{'workTitle': 'EGMONT, OP.84', 'composerName': 'Beethoven,  Ludwig  van', 'conductorName': 'Hill, Ureli Corelli', 'ID': '52364*1', 'soloists': [], 'movement': 'Overture'}, {'workTitle': 'OBERON', 'composerName': 'Weber,  Carl  Maria Von', 'conductorName': 'Not conducted', 'ID': '8834*4', 'soloists': [{'soloistName': 'Otto, Antoinette', 'soloistRoles': 'S', 'soloistInstrument': 'Soprano'}, {'soloistName': 'Timm, Henry C.', 'soloistRoles': 'A', 'soloistInstrument': 'Piano'}], 'movement': '"Ozean, du Ungeheuer" (Ocean, thou mighty monster), Reiza (Scene and Aria), Act II'}, {'workTitle': 'CONCERTO, PIANO, A MINOR, OP. 85', 'conductorName': 'Hill, Ureli Corelli', 'ID': '4567*', 'soloists': [{'soloistName': 'Scharfenberg, William', 'soloistRoles': 'S', 'soloistInstrument': 'Piano'}], 'composerName': 'Hummel,  Johann'}, {'workTitle': 'O HAPPY HAPPY HOUR', 'conductorName': 'Not conducted', 'ID': '5150*', 'soloists': [{'soloistName': 'Otto, Antoinette', 'soloistRoles': 'S', 'soloistInstrument': 'Soprano'}, {'soloistName': 'Timm, Henry C.', 'soloistRoles': 'A', 'soloistInstrument': 'Piano'}], 'composerName': 'Pacini,  Giovanni'}, {'workTitle': 'FANTASIA ON SWEEDISH AIRS', 'conductorName': 'Not conducted', 'ID': '5161*', 'soloists': [{'soloistName': 'Boucher, Alfred', 'soloistRoles': 'S', 'soloistInstrument': 'Cello'}], 'composerName': 'Romberg,  Bernhard'}, {'workTitle': 'SEXTET IN E FLAT MAJOR, OP. 30', 'composerName': 'Onslow,  George', 'conductorName': 'Not conducted', 'ID': '5162*2', 'soloists': [{'soloistName': 'Scharfenberg, William', 'soloistRoles': 'S', 'soloistInstrument': 'Piano'}, {'soloistName': 'Lehman', 'soloistRoles': 'A', 'soloistInstrument': 'Flute'}, {'soloistName': 'Groneveldt, Theodore W.', 'soloistRoles': 'A', 'soloistInstrument': 'Clarinet'}, {'soloistName': 'Hegelund, H. W.', 'soloistRoles': 'A', 'soloistInstrument': 'Bassoon'}, {'soloistName': 'Woehning, F. C.', 'soloistRoles': 'A', 'soloistInstrument': 'French Horn'}, {'soloistName': 'Rosier, F. W.', 'soloistRoles': 'A', 'soloistInstrument': 'Contrabass'}], 'movement': 'Andante con variazioni'}, {'workTitle': 'SEXTET IN E FLAT MAJOR, OP. 30', 'composerName': 'Onslow,  George', 'conductorName': 'Not conducted', 'ID': '5162*3', 'soloists': [{'soloistName': '', 'soloistRoles': '', 'soloistInstrument': ''}, {'soloistName': 'Scharfenberg, William', 'soloistRoles': 'S', 'soloistInstrument': 'Piano'}, {'soloistName': 'Lehman', 'soloistRoles': 'A', 'soloistInstrument': 'Flute'}, {'soloistName': 'Groneveldt, Theodore W.', 'soloistRoles': 'A', 'soloistInstrument': 'Clarinet'}, {'soloistName': 'Hegelund, H. W.', 'soloistRoles': 'A', 'soloistInstrument': 'Bassoon'}, {'soloistName': 'Woehning, F. C.', 'soloistRoles': 'A', 'soloistInstrument': 'French Horn'}, {'soloistName': 'Rosier, F. W.', 'soloistRoles': 'A', 'soloistInstrument': 'Contrabass'}], 'movement': 'Minuetto'}, {'workTitle': 'WILLIAM TELL', 'composerName': 'Rossini,  Gioachino', 'conductorName': 'Alpers, William', 'ID': '8839*2', 'soloists': [], 'movement': 'Overture'}, {'workTitle': 'FANTASIA AND VARIATIONS ON THEMES FROM NORMA, OP. 12 (FOUR HANDS)', 'conductorName': 'Not conducted', 'ID': '5166*', 'soloists': [{'soloistName': '', 'soloistRoles': '', 'soloistInstrument': ''}, {'soloistName': 'Rakeman, Frederick', 'soloistRoles': 'S', 'soloistInstrument': 'Piano'}, {'soloistName': 'Scharfenberg, William', 'soloistRoles': 'S', 'soloistInstrument': 'Piano'}], 'composerName': 'Thalberg,  Sigismond'}, {'workTitle': 'MAGIC FLUTE, THE, K.620', 'composerName': 'Mozart,  Wolfgang  Amadeus', 'conductorName': 'Not conducted', 'ID': '8955*13', 'soloists': [{'soloistName': '', 'soloistRoles': '', 'soloistInstrument': ''}, {'soloistName': 'Otto, Antoinette', 'soloistRoles': 'S', 'soloistInstrument': 'Soprano'}, {'soloistName': 'Timm, Henry C.', 'soloistRoles': 'A', 'soloistInstrument': 'Piano'}], 'movement': 'Aria (unspecified)'}, {'workTitle': 'INTRODUCTION AND VARIATIONS ON THE ROMANCE OF JOSEPH, OP. 20', 'conductorName': 'Alpers, William', 'ID': '5172*', 'soloists': [{'soloistName': '', 'soloistRoles': '', 'soloistInstrument': ''}, {'soloistName': 'Scharfenberg, William', 'soloistRoles': 'S', 'soloistInstrument': 'Piano'}], 'composerName': 'Herz,  Henri'}, {'workTitle': 'QUINTET FOR WINDS AND ORCHESTRA', 'conductorName': 'Not conducted', 'ID': '5174*', 'soloists': [{'soloistName': 'Lehman', 'soloistRoles': 'A', 'soloistInstrument': 'Flute'}, {'soloistName': 'Wiese, Frederick', 'soloistRoles': 'A', 'soloistInstrument': 'Oboe'}, {'soloistName': 'Groneveldt, Theodore W.', 'soloistRoles': 'A', 'soloistInstrument': 'Clarinet'}, {'soloistName': 'Hegelund, H. W.', 'soloistRoles': 'A', 'soloistInstrument': 'Bassoon'}, {'soloistName': 'Woehning, F. C.', 'soloistRoles': 'A', 'soloistInstrument': 'French Horn'}], 'composerName': 'Lindpaintner,  Peter  Von'}]

                                     id
0  38e072a7-8fc9-4f9a-8eac-3957905c0002
1  c7b2b95c-5e0b-431c-a340-5b37fc860b34
2  894e1a52-1ae5-4fa7-aec0-b99997555a37

In [22]:
works_data = pd.io.json.json_normalize(data=d['programs'], record_path='works', 
                            meta=['id', 'orchestra','programID', 'season'])
works_data.head(3)

,workTitle,conductorName,ID,soloists,composerName,movement,interval,movement.em,movement._,workTitle.em,workTitle._,id,orchestra,programID,season
0,"SYMPHONY NO. 5 IN C MINOR, OP.67","Hill, Ureli Corelli",52446*,[],"Beethoven, Ludwig van",NaN,NaN,NaN,NaN,NaN,NaN,38e072a7-8fc9-4f9a-8eac-3957905c0002,New York Philharmonic,3853,1842-43
1,OBERON,"Timm, Henry C.",8834*4,"[{'soloistName': 'Otto, Antoinette', 'soloistRoles': 'S', 'soloistInstrument': 'Soprano'}]","Weber, Carl Maria Von","""Ozean, du Ungeheuer"" (Ocean, thou mighty monster), Reiza (Scene and Aria), Act II",NaN,NaN,NaN,NaN,NaN,38e072a7-8fc9-4f9a-8eac-3957905c0002,New York Philharmonic,3853,1842-43
2,"QUINTET, PIANO, D MINOR, OP. 74",NaN,3642*,"[{'soloistName': 'Scharfenberg, William', 'soloistRoles': 'A', 'soloistInstrument': 'Piano'}, {'soloistName': 'Hill, Ureli Corelli', 'soloistRoles': 'A', 'soloistInstrument': 'Violin'}, {'soloistName': 'Derwort, G. H.', 'soloistRoles': 'A', 'soloistInstrument': 'Viola'}, {'soloistName': 'Boucher, Alfred', 'soloistRoles': 'A', 'soloistInstrument': 'Cello'}, {'soloistName': 'Rosier, F. W.', 'soloistRoles': 'A', 'soloistInstrument': 'Contrabass'}]","Hummel, Johann",NaN,NaN,NaN,NaN,NaN,NaN,38e072a7-8fc9-4f9a-8eac-3957905c0002,New York Philharmonic,3853,1842-43

In [23]:
works_data = pd.io.json.json_normalize(data=d['programs'], record_path='concerts', 
                            meta=['id', 'orchestra','programID', 'season'])
works_data.head(3)

,Date,eventType,Venue,Location,Time,id,orchestra,programID,season
0,1842-12-07T05:00:00Z,Subscription Season,Apollo Rooms,"Manhattan, NY",8:00PM,38e072a7-8fc9-4f9a-8eac-3957905c0002,New York Philharmonic,3853,1842-43
1,1843-02-18T05:00:00Z,Subscription Season,Apollo Rooms,"Manhattan, NY",8:00PM,c7b2b95c-5e0b-431c-a340-5b37fc860b34,New York Philharmonic,5178,1842-43
2,1843-04-07T05:00:00Z,Special,Apollo Rooms,"Manhattan, NY",8:00PM,894e1a52-1ae5-4fa7-aec0-b99997555a37,Musicians from the New York Philharmonic,10785,1842-43

In [24]:
soloist_data = pd.io.json.json_normalize(data=d['programs'], record_path=['works', 'soloists'], 
                              meta=['id'])
soloist_data.head(3)

,soloistName,soloistRoles,soloistInstrument,id
0,"Otto, Antoinette",S,Soprano,38e072a7-8fc9-4f9a-8eac-3957905c0002
1,"Scharfenberg, William",A,Piano,38e072a7-8fc9-4f9a-8eac-3957905c0002
2,"Hill, Ureli Corelli",A,Violin,38e072a7-8fc9-4f9a-8eac-3957905c0002

### 4. Loading Excel

In [25]:
sales_data = pd.read_excel('./Data/sales-funnel.xlsx')

In [26]:
sales_data.head()

,Account,Name,Rep,Manager,Product,Quantity,Price,Status
0,714466,Trantow-Barrows,Craig Booker,Debra Henley,CPU,1,30000,presented
1,714466,Trantow-Barrows,Craig Booker,Debra Henley,Software,1,10000,presented
2,714466,Trantow-Barrows,Craig Booker,Debra Henley,Maintenance,2,5000,pending
3,737550,"Fritsch, Russel and Anderson",Craig Booker,Debra Henley,CPU,1,35000,declined
4,146832,Kiehn-Spinka,Daniel Hilton,Debra Henley,CPU,2,65000,won

In [27]:
sales_orders = pd.read_excel('./Data/SampleData.xlsx',sheet_name='SalesOrders')

In [28]:
sales_orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   order_id             20 non-null     object
 1   customer_id          20 non-null     object
 2   ship_mode            20 non-null     object
 3   vendor_id            20 non-null     object
 4   order_status         20 non-null     object
 5   order_purchase_date  20 non-null     object
dtypes: object(6)
memory usage: 1.1+ KB